
<body>

<head>
  <title>Bookers</title>
</head>

<header>
  <nav class= "navbar navbar-expand-lg navbar-dark bg-dark
">
    <% if user_signed_in? %>
    <li>
      <%= link_to 'Home', new_book_path %>
    </li>

    <li>
      <%= link_to 'Users', user_path(current_user.id) %>
    </li>

    <li>
      <%= link_to 'Books', user_path(current_user.id) %>
    </li>

    <li>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </li>

  <% else %>
    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>
    <li>
      <%= link_to "Log in", new_user_session_path %>
    </li>
  <% end %>
    </nav>
</header>



<div class= "container">
  <div class= "row">
    <div class= "col-md-3">

  <h1>User info</h1>
  <div>
    <%= image_tag @user.get_profile_image(100,100) %>
  </div>

  <table class="table">
    <thesd>
    <tr>
      <td>Name</td>
        <td><%= @user.name %></td>
        </tr>
        <tr>
      <td>Introduction</td>
      <td><%= @user.introduction %></td>
    </tr>
    </thead>
  </table>

  <%= link_to edit_user_path(current_user) do %>edit
  <% end %>




<h1>New book</h1>

<div>
  <%= flash[:notice] %>
</div>

<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
  <% end %>


<%= form_with model: @booknew do |f| %>
  <label for="inputTitle">Title</label><br>
  <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"Title"%><br>

  <label for="inputOpinion">Opinion</label><br>
  <%= f.text_field :opinion, autofocus: true, id:"inputOpinion", placeholder:"Opinion"%><br>

  <%= f.submit 'Create Book' %>
<% end %>
</div>




<div class= "col-md-8">

<h1>Books</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
    </tr>
    </thead>

  <tbody>

    <tr>
      <td><%= link_to book_path(@book.id) do %>
    <%= image_tag @book.user.get_profile_image(100, 100) %>
  <% end %>
      </td>

      <td>
      <%= link_to book_path(@book.id) do %>
      <%= @book.title %>
      <% end %>
      </td>



      <td><%= @book.opinion %></td>

      <td>
        <%= link_to edit_book_path(@book.id) do %>
        Edit
        </td>
        <% end %>

      <td>
        <%= link_to "destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </td>

      <td></td>
    </tr>


  </tbody>

</table>
</div>
  </body>